*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
.main-c{
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 90%;
    min-height: 95vh ;
    background: #3D087B 0% 0% no-repeat padding-box;
    opacity: 1;
}
.main-left-c{
    /* border: solid white 2px; */
    height: 84vh;
    width: 40%;
    margin: 10px;
}
.main-right-c{
    /* border: solid white 2px; */
    height: 84vh;
    width: 40%;
    margin: 10px;
}
.main-time-box{
    box-sizing: border-box;
    background-color: white;
    height: 40vh;
    width: 100%;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    padding: 3px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3D087BDE;
    }
    .set-time1{
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size: 1.1vw;
    }
    select{
        height: 5vh;
        width: 50%;
        border: 1px solid #EDEDED;
        border-radius: 4px;
        opacity: 1;
        color: #3D087BDE;
        font-size:1.1vw;
    }
    option{
        color: #3D087BDE;
        font-size:20px;
        /* text-align: center; */
    }
    .line1{
        border-left: 1px solid lightgray;
        height: 3vh;
        margin-left: 18px;
    }
    .morning-label{
        height: 10vh;
        /* border: 1px solid lightgray; */
        background-color: #6A419A;
        border-radius: 10px;
        color: white;
        /* opacity: 0.23; */
        font-family:cursive;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.1vw;
    }
    .set-alarm{
        height: 6vh;
        width: 45%;
        background:linear-gradient(
            to right,
            #6E54EC 0%, 
            #CB52F8 50% 100%);
        border-radius: 4px;
        /* opacity: 1; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .set-alarm:hover{
        font-size: 0;
        background:linear-gradient(
            to left,
            #6E54EC 0%, 
            #CB52F8 50% 100%);        
    }
    .set-alarm:hover:after{
        content: attr(hover);
            font-size: 1.5vw;
            color: white;
        }
    .time-schedule{
        background-color: #6A419A;
        width: 50%;
        height: 18vh;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0px 20px;
        color: #F25CFE;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 13px;
        overflow: hidden;
        font-size: 1.1vw;
        /* margin: auto; */
    }
.bottom-c{
    display: flex;
    justify-content: space-between;
}
.timer3{
    background-color: white;
    position: absolute;
    top: 19.5vh;
    left: 59vw ;
    height: 10vh;
    width: 19%;
    opacity: 0.22;
    border-radius: 10px;
}
.timer2{
    background-color: white;
    position: absolute;
    top: 17.5vh;
    left: 55vw ;
    height: 10vh;
    width: 27%;
    opacity: 0.71;
    border-radius: 10px    
}
.timer1{
    background-color: white;
    position: relative;
    height: 18vh;
    width: 100%;
    opacity:1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    height:14vh ;
    width: 17%;
    margin: 1px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 500; */
    border-radius: 2px;
}
.semicolon{
    font-weight: 500;
    font-size: xx-large;
    color:#8A11BF;
}
.numbers{
    font-size: 3vw;
}
.names{
    font-size: 2vw;
}
.box1{
    background-color: white;
    color: #3D087B;
}
.box2{
    color:#8A11BF;
    background-image: url(./box2-img.svg);
}
.box5{
    background-image: url(./box5-img.svg);
    background-size: 100% 14vh ;
    color: white;
}
.breakfast-label{
    background-color: white;
    width: 100%;
    height: 14vh;
    color: #8E53F0;
    border-radius: 10px;
    font-family:cursive;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}
.image-curtons img{
    width: 100%;
    height:47vh;
}