*{
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    color: white;
}
#header{
    display: flex;
    font-size: 50px;
    margin: 5% 0 0 10%;
}
#add-button{
    z-index: 1;
    position: absolute;
    left: 80%;
    cursor: pointer;
    color: #1e59b8;
}
.extra{
    z-index: 1;
    position: absolute;
    left: 84%;
    cursor: pointer;
    color: #ffffff;
}

.color-red{
    color: red;
}
#modal-div{
    display: none;
    position: fixed;
    padding: 20% 0 0 30%;
    top: -10%;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
#modal-box{
    border-radius: 7px;
    width: 30vw;
    height: 30vh;
    padding: 30px 0 0px 0px;
    text-align: center;
    color: black;
    background-color: #fff;
    animation: modalPop 0.2s ease-in 0s 1;
}
.big-blue-text{
    color: #eb0f0f;
    font-size: 25px;
}
.blue-button{
    border-radius: 250px;
    margin-top: 5%;
    color: white;
    background-color: rgb(243, 56, 56);
    font-size: 30px;
    width: 25%;
    height: 20%;
    cursor: pointer;
}
button{
    border: none;
}
#modal-close-button{
    margin-left: 10%;
}
.modal-content{
    margin-top: 3%;
}
.input-box{
    width: 72%;
    height: 20%;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}
#outer-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10%;
    width: 90%;
}
.card{
    list-style: none;
    display: none;
    position: relative;
    min-height: 350px;
    min-width: 19%;
    text-align: center;
    border-radius: 10px;
    margin: 3% 0 0 5%;
    padding: 10px 0 0 0;
    background: #EEEEEE;
    animation: cardAnimate 0.2s ease-in 0s 1;
}
/* AFTER OPENING SINGLE CARD HEADING WILL SHOW IN RED */
.card-head{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #c91b55;
    cursor: pointer;
}
.list-element{
    margin-top: 10%;
    margin-bottom: 10%;
}
.buttons-in-card{
    display: flex;
    font-size: 30px;
}
.add-button-in-card{
    position: absolute;
    bottom: 10px;
    font-size: 25px;
    margin-left: 15%;
    right: 10px;
    cursor: pointer;
    color: #1e59b8;
    background-color: #EEEEEE;
}
.delete-button-in-card{
    position: absolute;
    right: 50px;
    bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #fa0b0b;
    background-color: #EEEEEE;
}
.in-list-button{
    cursor: pointer;
}
#modal-div-card{
    display: none;
    position: fixed;
    padding: 20% 0 0 30%;
    text-align: center;
    top: -10%;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
#modal-box-card{
    border-radius: 7px;
    width: 30vw;
    height: 28vh;
    border: 1px solid rgb(165, 46, 46);
    padding: 10px 0 0 0px;
    text-align: center;
    color: black;
    background-color: #fff;
    animation: modalPop 0.2s ease-in 0s 1;
}
.this-list-element{
    font-size: 20px;
    font-weight: 700;
    color: #393E46;
    animation: cardTextAnimate 0.2s ease-in 0s 1;
}
#check-done{
    color: black;
    background-color: grey;
    display: none;
}
.mark-as-done-class{
    background-color: #4883e2;
    color: #EEEEEE;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 4px 4px 4px;
}
#back-button{
    margin-left: 10%;
   font-size: 40px;
   display: none;
}
#back-icon{
    z-index: 20;
    font-size: 40px;   
    color: red;
    cursor: pointer;
}
#card-dynamic-head{
    justify-content: center;
    font-size: 55px;
    font-weight: 700;
    color: red;
    display: none;
}

#empty-list{
    position: relative;
    top: 10vh;
    margin-left: 10vw;
    color: rgb(69, 206, 42);
    font-size: 45px;
    font-weight: 800;
}

@keyframes modalPop {
    0% { transform: scale(1); };
    50% { transform: scale(0.5); };
    100% { transform: scale(2); };
}

@keyframes cardAnimate {
    0% { transform: scaleX(0); };
    100% { transform: scaleX(1) };
}

@keyframes cardTextAnimate {
    0% { transform: scaleY(0); };
    100% { transform: scaleY(1) };
}





#pitambar{
    position: relative;
    top: 2px;
    margin-left: 88vw;
    color: rgb(225, 240, 15);
    font-size: 18px;
    font-weight: 800;
}