#main-container{
    filter: blur(0px);
    background-color: black;
    min-height: 100vh;
    /* display: none; */
}
/* Header task list and add list  */
.container1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    background-color: black;
}
.task{
    font-size:70px;
    font-family:Arial;
    font-weight: bold;
    color: white;
}
.list{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight:lighter;
}
.list1{
    font-size:30px;
    font-family:sans-serif;
    color: gray;
    position: relative;
    left: 10px;
    top: 10px;
}
#plus{
    position: relative;
    top: 15px;
    cursor: pointer;
    color:red;
    font-size: 40px;

} 

/* add new list */

.button{
    height: 15%;
    width: 20%;
    background-color: #fa5c5c;
    color: white;
    font-size: large;
    border: solid 2px #fa5c5c;
    border-radius:20px;
    cursor:pointer;
}
label{
    cursor: pointer;
}
.text{
    height: 15%;
    width: 70%;
    border: 2px solid #ff8585;
    border-radius: 5px;
}
.blur{
    filter: blur(7px);
}
.addnew{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
.addlist{
    border: 3px solid #ff8585;
    border-radius: 10px;
    height: 24vh;
    width: 23%;
    text-align: center;
    padding-top: 10px;
    color: #fa5c5c;
    font-family: arial;
    font-size: large;
    background-color: white;
    position:absolute;
    top: 270px;
    z-index: 3;

}
/* cards div appended */
#cards {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center ; */
    z-index: 0;
}
/* new card */
#newCardDiv{
    background-color: white;
    /* color:black; */
    border: 3px solid #ff8585;
    border-radius: 15px;
    height: 380px;
    width: 255px;
    margin:0px 0px 80px 0px;
    display: block;
    align-items: flex-start;
}
#inputTextHeadHeading{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 2px solid gray;
    padding: 20px 0px 10px 0px;
    height:50px;
    width: 100%;
    color: #fa5c5c;
    font-size: xx-large;
    flex-flow: wrap;
    overflow: hidden;
    font-family:cursive;
    /* border: 2px solid green; */
    margin-top: 0px;
    cursor: pointer;
}
.itemsdiv{
    display: flex;
    justify-content: flex-start;
    height:26vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-align: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

/* delete and add card img */
#delImg{
    height: 43px;
    position:relative;
    top:5px;
    left: 150px;
    font-size:39px;
    color:red;
}
#addImg{
    height: 44px;
    position:relative;
    top:5px;
    left: 160px;
    font-size:40px;
    color: red;
}
/* empty message */
#empty-list{
    position: relative;
    top: -10vh;
    margin-left: 15vw;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    display: flex;
}

/*add items  */
.addlist-container{
    margin: 0;
    position:absolute;
    top: 270px;
    /* left: 300px; */
    left: 550px;
    z-index:1;
}
.item{
    margin: 0;
    position:absolute;
    top: 270px;
    /* left: 300px; */
    left: 590px;
    z-index: 1;
}

li{
    color: black;
    font-size: large;
    font-size: x-large;
}
#no-item-div,#no-item-div1{
color:white;
text-transform: capitalize;
font-size: 35px;
font-family: 'cursive';
margin-left: 586px;
/* display: none; */
position: absolute;
top: 150px;
}
.done{
    border-radius: 50%;
    color: red;
    font-weight: bold;
    border: solid 3px gray;
    background-color: black;
    box-shadow: 2px 2px 4px black;
    margin-left: 10px;
}
.line-height{
    line-height:40px;
    letter-spacing:1px;
}
.fa-circle-arrow-left{
font-size: 40px;
color: red;
position: absolute;
/* top: 100px; */
}
#container4{
    display: none;
    height: 97vh;
    width: 100%;
background-color: black;
}
#backtext{
    font-size: 50px;
    color: white;
}
.newpagediv{
position: absolute;
top: 11%;
left: 46%;
display: flex;
justify-content: center;
align-items:space-between;
}
#cardNewPage{
    position: absolute;
    top: 35%;
    left: 41.5%;
}
#container3,#container4{
    z-index: 10;
} 