.flex-container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
}

.card {
    background-color: #e7e7e7 ;
 
    height: 40vh ;
    width: 20vw ;
    padding: 20px;
    position: relative;
}
.card > span {
    position: absolute;
    bottom: 10px; 
    right: 20px;
    font-size: 40px !important ;
    border-radius: 50% ;
    background-color: white ;
    cursor: pointer;
}
.delete {
    right: 80px !important
}
.new-page {
    display:  none ;
}
.root-popup, .new-popup {
    position: absolute;
    z-index: 10 ;
    display: none;
    flex-flow: column wrap ;
    height: 20vh ;
    width: 40vw ;
    padding: 20px;
    background-color: orange ;
    justify-content: space-between ;
    left: calc( (100vw - 40vw) / 2) ;
    top: calc( (100vh - 20vh)/ 2 ) ;
    
}
.new-popup {
    background-color: blue ;
}
.root-popup > input , .root-popup > button, .new-popup > input , .new-popup > button {
    border: none ;
    padding: 10px;
}