#main-container{
    filter: blur(0px);
    background-color: black;
    min-height: 100vh;
}
/* Header task list and add list  */
.container1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    background-color: black;
}
.task{
    font-size:70px;
    font-family:Arial;
    font-weight: bold;
    color: white;
}
.list{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight:lighter;
}
.list1{
    font-size:30px;
    font-family:sans-serif;
    color: gray;
    position: relative;
    left: 12px;
}
#plus{
    position: relative;
    top: 15px;
    cursor: pointer;
} 

/* add new list */

.button{
    height: 15%;
    width: 20%;
    background-color: #fa5c5c;
    color: white;
    font-size: large;
    border: solid 2px #fa5c5c;
    border-radius:20px;
    cursor:pointer;
}
label{
    cursor: pointer;
}
.text{
    height: 15%;
    width: 70%;
    border: 2px solid #ff8585;
    border-radius: 5px;
}
.blur{
    filter: blur(7px);
}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.addlist{
    border: 3px solid #ff8585;
    border-radius: 10px;
    height: 24vh;
    width: 23%;
    text-align: center;
    padding-top: 10px;
    color: #fa5c5c;
    font-family: arial;
    font-size: large;
    background-color: white;
    position:absolute;
    top: 270px;
}

/* cards div appended */
#cards {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
/* new card */
#newCardDiv{
    background-color: white;
    /* color:black; */
    border: 3px solid #ff8585;
    border-radius: 15px;
    height: 380px;
    width: 240px;
    

}
#inputTextHeadHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 0px 0px 20px 0px;
    height: 50px;
    width: 100%;
    color: #fa5c5c;
    font-size: xx-large;
    flex-flow: wrap;
    overflow: hidden;
    font-family: cursive;

}
#itemsdiv{
    display: flex;
    justify-content: center;
    border: 2px solid green;
    height:25vh;
    font-family: sans-serif;
    font-size: large;
}

/* delete and add card img */
#deleteImg{
    height: 43px;
    position: absolute;
    top:570px;
    left: 230px;
}
/* #addImg{
    height: 44px;
    position: absolute;
    top:570px;
    left: 285px;
} */